<!DOCTYPE html>
<html>
<head>
	<title>List Of Soldiers</title>
</head>
<body>
	<h1>This is the current list</h1>
	<table>
	  <tr>
	  	<th>Name<th>
	    <th>Rank</th>
	    <th>Motto</th>
	    <th>Age</th>
	  </tr>
		<% for (let x in result) { %>
			<tr>
				<td><%= result[x].soldier_name %> </td>
				<td><%= result[x].soldier_rank %> </td>
				<td><%= result[x].soldier_motto %> </td>
				<td><%= result[x].soldier_age %> </td>
			</tr>
		<% } %>
	</table>


<h4>Add A Soldier</h4>
	<form action='/add_soldier' method='Post'>
		Name:    <input type="text" name="name">
		Rank:    <input type="text" name="rank">
		Motto:   <input type="text" name="motto">
		Age:     <input type="number" name="age">
				 <input type="submit" value='Add Soldier'>
	</form>


<h4>Delete A Soldier</h4>
	<form action='/delete_soldier' method='Post'>
		Name:     <input type="text" name="user_name">
				  <input type="submit" value='Delete Soldier'>
	</form>

<h4>Update A Soldier</h4>
	<form action='/update_soldier' method='Post'>
		Orgional Name:     <input type="text" name="orgional_name">
		New Name		  <input type="text" name="new_name">
				  <input type="submit" value='Update Soldier'>
	</form>


</body>
</html>