<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <h2>About Me </h2>
    
        <h3>Name: <%= cat.name %></h3>
        <h4>Statement: <%= cat.blurb %></h4>
  		<img src="<%= cat.img %>">

</body>
</html>