<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="main.css">
<title>Title of the document</title>
</head>

<body>
	<a href="cat_1"><img src="cat_1.jpg"></a>
	<a href="cat_2"><img src="cat_2.jpg"></a>
	<a href="cat_3"><img src="cat_3.jpg"></a>
</body>

</html>