<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Express</title>
</head>
<body>
	<div id='test'>See here you</div>

	<form action='/userss' method='post'>
    	Name: <input type='text' name='name'>
    	Email: <input type='text' name='email'>
    <input type='submit' value='create user'>
</form>
</body>
</html>