<!DOCTYPE html>
<html>
<head>
	<title>Make A New Mongoose</title>
</head>
<body>

	<form action='new' method='post'>
		<input type="text" name="first_name" placeholder="First Name">
		<input type="text" name="last_name" placeholder="Last Name">
		<input type="text" name="email" placeholder="Email">
		<input type="number" name="age" placeholder="Age">
		<input type="submit" name="Make Mongoose">
	</form>

</body>
</html>