<!DOCTYPE html>
<html>
<head>
	<title>The Great Counter</title>
</head>
<body>
	<h1>Total Times You Have Been Here <%= times %></h1>
	<a href='reset'><button>Reset The Count</button></a>

	<a href='survey'><button>Take Our Survey!</button></a>

</body>
</html>