<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="main.css">
<title>Title of the document</title>
</head>

<body>
	<img src="cat_1.jpg">
	<img src="cat_2.jpg">
	<img src="cat_3.jpg">
</body>

</html>